*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f1f3f6;
}

/* HEADER */

header{
background:#2874f0;
padding:10px;
position:sticky;
top:0;
z-index:100;
}

.top{
display:flex;
align-items:center;
gap:10px;
}

.logo{
width:40px;
}

#search{
flex:1;
padding:10px;
border:none;
border-radius:4px;
font-size:14px;
}

.cart{
color:white;
font-size:18px;
font-weight:bold;
}

/* BANNER */

.slider{
width:100%;
overflow:hidden;
margin-top:5px;
}

.slider img{
width:100%;
border-radius:8px;
}

/* BRANDS */

.brands{
display:flex;
overflow-x:auto;
background:white;
padding:10px;
gap:15px;
}

.brand{
text-align:center;
min-width:70px;
}

.brand img{
width:50px;
height:50px;
object-fit:contain;
}

.brand p{
font-size:12px;
margin-top:4px;
}

/* TITLES */

.title{
font-size:18px;
padding:12px;
font-weight:bold;
}

/* COLORS */

.colors{
display:flex;
gap:10px;
padding:10px;
}

.color{
flex:1;
padding:30px;
border-radius:12px;
text-align:center;
font-weight:bold;
color:white;
}

.black{background:#000;}
.pink{background:#ff7aa8;}
.green{background:#0abf53;}
.blue{background:#2979ff;}

/* MATERIAL */

.materials{
display:flex;
gap:10px;
padding:10px;
}

.material{
flex:1;
background:white;
border-radius:12px;
padding:30px;
text-align:center;
font-weight:bold;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

/* PHONES GRID */

.phones{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:12px;
padding:10px;
}

.phone{
background:white;
border-radius:12px;
padding:10px;
text-align:center;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
transition:0.3s;
}

.phone:hover{
transform:scale(1.03);
}

.phone img{
width:100%;
height:170px;
object-fit:contain;
}

.phone h3{
font-size:14px;
margin-top:5px;
}

.phone p{
color:#388e3c;
font-weight:bold;
margin-top:3px;
}

.phone button{
background:#ff9f00;
border:none;
padding:8px;
border-radius:6px;
margin-top:6px;
cursor:pointer;
}

.phone button:hover{
background:#fb8c00;
}

/* FOOTER */

footer{
background:#172337;
color:white;
text-align:center;
padding:12px;
margin-top:20px;
}
